* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.viewer {
    height: 650px;
}
.parentviewer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.viewer canvas {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
    border: 2px solid red;
}