* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.viewer {
    border:2px solid red;
    box-sizing: border-box;
    height: 100vh;
}
.parentviewer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.viewer canvas {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
    border: 2px solid red;
}
.controls
{
    display: flex;
    justify-content: space-between;
}
.fileinput
{
    border: 3px solid blue;
    padding: 4px;
    margin: 4px;
}
.navigation 
{
    border: 3px solid blue;
    padding: 4px;
    margin: 4px;
    display: flex;
    gap: 4px;
}
.navigation * {
    padding: 4px
}
.navigation button {
    border: 3px solid black;
    font-weight: bold;
}
.nopg {
}